.nav{
    background-color: rgb(170, 170, 170);
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.nav-header, .nav-body, .nav-user{
    display: inline-block;
    padding: 8px;
}

.nav-header{
    width: 25%;
}

.nav-body{
    width: 40%;
}

.nav-body-list{
    display: flex;
    justify-content: space-around;
}

.nav-user{
    float: right;
}